body {
	padding-bottom: 40px;
}

.container {
	width:640px;
}

h1 {font-size:24px;padding:10px 0; margin:0px 0 0 0;}

h1 span {font-size:14px;float:right;}

.well h1 {font-size:16px; border-bottom:2px solid #000; padding:0px 0; margin-bottom: 10px;}

pre {
	background: #222;
	padding: 10px;
	color: white;
}

blockquote p {
	font-size:12px;
}

.well {
	padding-top: 10px;
	text-align : justify;
}

