---
layout: default
---

<div class="container">
	<div class="well">
		
		<h1>{{ post.title | escape }}</h1>
		<div style="width: 100%;text-align:right;">{{ post.date | dateFormatFull }}</div>

		{{ content }}

		{% for s_post in site.posts %}
			{%- if s_post is sameas post %}
				{%- if loop.first == False %}
					<span><a href="{{ blog.url }}/{{ site.posts[loop.index-2].url }}">« Précédent</a></span>
				{% endif %}
				{%- if loop.last == False %}
					<span style="float:right;"><a href="{{ blog.url }}/{{ site.posts[loop.index].url }}">Suivant »</a></span>
				{% endif %}
			{% endif %}
		{% endfor %}

	</div>

	<div class="well">
		<h6>Mots clés</h6>
		<p>
			{% for keyword in post.keywords %}
			<a href="{{blog.url}}/{{keyword}}">{{keyword}}</a>{%- if loop.last == False %}, {% endif %}
			{% endfor %}
		</p>
	</div>

	<div class="well">
		<h6>Commentaires</h6>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = 'yoannsculo'; // required: replace example with your forum shortname

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>

</div>

